@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z6v5gd');
  src:  url('fonts/icomoon.eot?z6v5gd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z6v5gd') format('truetype'),
    url('fonts/icomoon.woff?z6v5gd') format('woff'),
    url('fonts/icomoon.svg?z6v5gd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e901";
}
.icon-write:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e901";
}
.icon-bin:before {
  content: "\e902";
}
.icon-trashcan:before {
  content: "\e902";
}
.icon-remove:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e902";
}
.icon-recycle:before {
  content: "\e902";
}
.icon-dispose:before {
  content: "\e902";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-tick:before {
  content: "\e903";
}
.icon-correct:before {
  content: "\e903";
}
.icon-accept:before {
  content: "\e903";
}
.icon-ok:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e900";
}
